
@{
    ViewBag.Title = "企业所得税汇总纳税分支机构所得税分配表";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>企业所得税汇总纳税分支机构所得税分配表</title> 
    <link href="~/CSS/TaxApply/CorporateIncomeTax/AllocationTable.css" rel="stylesheet" />
</head>
<body>
    <div>
        <form id="formtab" action="#" method="post">
            <table id="table1">
                <tr>
                    <td class="title" colspan="8">
                        <h2>企业所得税汇总纳税分支机构所得税分配表</h2>
                    </td>
                </tr>
                <tr>
                    <td colspan="8">
                        税款所属时间：<span>2016年11月1日</span>至<span>2016年11月30日</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span class="textleft">总机构名称（盖章）:         </span>
                    </td>
                    <td colspan="2"></td>
                    <td colspan="1"></td>
                    <td colspan="1"></td>
                    <td colspan="2">
                        <span class="textleft">金额单位：(元至角分)</span>
                        <span class="textright"></span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span class="textleft">总机构纳税人识别号        </span>
                    </td>
                    <td colspan="1">应纳所得税额</td>
                    <td colspan="2">总机构分摊所得税额</td>
                    <td colspan="2">
                        总机构财政集中分配所得税额
                    </td>
                    <td colspan="1">
                        分支机构分摊所得税额
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span class="textleft"></span>
                    </td>
                    <td colspan="1"></td>
                    <td colspan="2"></td>
                    <td colspan="2"></td>
                    <td colspan="1"></td>
                </tr>
                <tr>
                    <td rowspan="17" style="word-wrap:break-word;  width:20px;
    padding:0 13px 0 13px">
                        分支机构情况
                    </td>
                    <td rowspan="2">
                        分支机构纳税人识别号
                    </td>
                    <td rowspan="2">
                        分支机构名称
                    </td>
                    <td colspan="3">
                        三项因素
                    </td>
                    <td rowspan="2">
                        <p>分配</p><p>比例</p>
                    </td>
                    <td rowspan="2">
                        分配所得税额
                    </td>
                </tr>
                <tr>

                    <td>
                        营业收入

                    </td>
                    <td>
                        职工薪酬

                    </td>
                    <td>
                        资产总额

                    </td>

                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        合计
                    </td>
                    <td>
                        —
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </form>
    </div>

</body>
</html>


