
@{
    ViewBag.Title = "ComprehensiveUtilizationResourceTable";
}


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>综合利用资源生产产品取得的收入优惠明细表</title>

</head>
<body>
    <form action="/" method="post">
        <table border="1" cellspacing="0" class="title">
            <tr><td colspan="11"><center><h2>综合利用资源生产产品取得的收入优惠明细表</h2></center></td></tr>
            <tr><td rowspan="7">行次</td><td rowspan="6">生产的产品名称</td><td rowspan="2" colspan="3">资源综合利用认定证书基本情况</td><td rowspan="6">属于《资源综合利用企业所得税优惠目录》类别</td><td rowspan="6">综合利用的资源</td><td rowspan="6">综合利用的资源占生产产品材料的比例</td><td rowspan="6">《资源综合利用企业所得税优惠目录》规定的标准</td><td rowspan="6">符合条件的综合利用资源生产产品取得的收入总额</td><td rowspan="6">综合利用资源减计收入</td></tr>
            <tr></tr>
            <tr><td rowspan="4">《资源综合利用认定证书》取得时间</td><td rowspan="4">《资源综合利用认定证书》有效期</td><td rowspan="4">《资源综合利用认定证书》编号</td></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td><td>8</td><td>9</td><td>10（9×10%）</td></tr>
            <tr><td>1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>3</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>4</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>5</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>6</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>7</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>8</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>9</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>10</td><td>合计</td><td><center>*</center></td><td><center>*</center></td><td><center>*</center></td><td><center>*</center></td><td><center>*</center></td><td><center>*</center></td><td><center>*</center></td><td><center>*</center></td><td></td></tr>
        </table>
    </form>
</body>
</html>

