
@{
    ViewBag.Title = "企业所得税汇总纳税分支机构所得税分配表";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>跨地区经营汇总纳税企业年度分摊企业所得税明细表</title>
 
</head>
<body>
    <form action="/" method="post">
        <table class="title" colspan="3">
            <tr><td><h2>跨地区经营汇总纳税企业年度分摊企业所得税明细表</h2></td></tr>
            <tr><td>行次</td><td>项目</td><td>金额</td></tr>
            <tr><td>1</td><td>一、总机构实际应纳所得税额</td><td></td></tr>
            <tr><td>2</td><td>   减：境外所得应纳所得税额</td><td></td></tr>
            <tr><td>3</td><td>   加：境外所得抵免所得税额</td><td></td></tr>
            <tr><td>4</td><td>二、总机构用于分摊的本年实际应纳所得税（1-2+3）</td><td></td></tr>
            <tr><td>5</td><td>三、本年累计已预分、已分摊所得税（6+7+8+9）</td><td></td></tr>
            <tr><td>6</td><td>   （一）总机构向其直接管理的建筑项目部所在地预分的所得税额</td><td></td></tr>
            <tr><td>7</td><td>   （二）总机构已分摊所得税额</td><td></td></tr>
            <tr><td>8</td><td>   （三）财政集中已分配所得税额</td><td></td></tr>
            <tr><td>9</td><td>   （四）总机构所属分支机构已分摊所得税额</td><td></td></tr>
            <tr><td>10</td><td>         其中：总机构主体生产经营部门已分摊所得税额</td><td></td></tr>
            <tr><td>11</td><td>四、总机构本年度应分摊的应补（退）的所得税（4-5）</td><td></td></tr>
            <tr><td>12</td><td>   （一）总机构分摊本年应补（退）的所得税额（11×25%）</td><td></td></tr>
            <tr><td>13</td><td>   （二）财政集中分配本年应补（退）的所得税额（11×25%）</td><td></td></tr>
            <tr><td>14</td><td>   （三）总机构所属分支机构分摊本年应补（退）的所得税额（11×50%）</td><td></td></tr>
            <tr><td>15</td><td>         其中：总机构主体生产经营部门分摊本年应补（退）的所得税额</td><td></td></tr>
            <tr><td>16</td><td>五、总机构境外所得抵免后的应纳所得税额（2-3）</td><td></td></tr>
            <tr><td>17</td><td>六、总机构本年应补（退）的所得税额（12+13+15+16）</td><td></td></tr>
        </table>
    </form>
</body>
</html>
