
@{
    ViewBag.Title = "DetailedDownsTable";
}


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>免税、减计收入及加计扣除优惠明细表</title>

</head>
<body>
    <form action="/" method="post">
        <table border="1" cellspacing="0" class="title">
            <tr><td colspan="3"><center><h2>免税、减计收入及加计扣除优惠明细表</h2></center></td></tr>
            <tr><td>行次</td><td>项目</td><td>金额</td></tr>
            <tr><td>1</td><td>一、免税收入（2+3+4+5）</td><td></td></tr>
            <tr><td>2</td><td>   （一）国债利息收入td><td></td></tr>
            <tr><td rowspan="2">3</td><td rowspan="2">      （二）符合条件的居民企业之间的股息、红利等权益性投资收益（填写<br />A107011）</td><td rowspan="2"></td></tr>
            <tr></tr>
            <tr><td>4</td><td>   （三）符合条件的非营利组织的收入</td><td></td></tr>
            <tr><td>5</td><td>   （四）其他专项优惠（6+7+8+9+10+11+12+13+14）</td><td></td></tr>
            <tr><td>6</td><td>       1.中国清洁发展机制基金取得的收入</td><td></td></tr>
            <tr><td>7</td><td>       2.证券投资基金从证券市场取得的收入</td><td></td></tr>
            <tr><td>8</td><td>       3.证券投资基金投资者获得的分配收入</td><td></td></tr>
            <tr><td>9</td><td>       4.证券投资基金管理人运用基金买卖股票、债券的差价收入</td><td></td></tr>
            <tr><td>10</td><td>       5.取得的地方政府债券利息所得或收入</td><td></td></tr>
            <tr><td>11</td><td>       6.受灾地区企业取得的救灾和灾后恢复重建款项等收入</td><td></td></tr>
            <tr><td>12</td><td>       7.中国期货保证金监控中心有限责任公司取得的银行存款利息等收入</td><td></td></tr>
            <tr><td>13</td><td>       8.中国保险保障基金有限责任公司取得的保险保障基金等收入</td><td></td></tr>
            <tr><td>14</td><td>       9.其他</td><td></td></tr>
            <tr><td>15</td><td>二、减计收入（16+17）</td><td></td></tr>
            <tr><td>16</td><td>   （一）综合利用资源生产产品取得的收入（填写A107012）</td><td></td></tr>
            <tr><td>17</td><td>   （二）其他专项优惠（18+19+20）</td><td></td></tr>
            <tr><td>18</td><td>       1.金融、保险等机构取得的涉农利息、保费收入（填写A107013）</td><td></td></tr>
            <tr><td>19</td><td>       2.取得的中国铁路建设债券利息收入</td><td></td></tr>
            <tr><td>20</td><td>       3.其他</td><td></td></tr>
            <tr><td>21</td><td>三、加计扣除（22+23+26）</td><td></td></tr>
            <tr><td rowspan="2">22</td><td rowspan="2">   （一）开发新技术、新产品、新工艺发生的研究开发费用加计扣除（填写<br />A107014）</td><td rowspan="2"></td></tr>
            <tr></tr>
            <tr><td rowspan="2">23</td><td rowspan="2">   （二）安置残疾人员及国家鼓励安置的其他就业人员所支付的工资加计扣除<br />（24+25）</td><td rowspan="2"></td></tr>
            <tr></tr>
            <tr><td>24</td><td>       1.支付残疾人员工资加计扣除</td><td></td></tr>
            <tr><td>25</td><td>       2.国家鼓励的其他就业人员工资加计扣除</td><td></td></tr>
            <tr><td>26</td><td>   （三）其他专项优惠</td><td></td></tr>
            <tr><td>27</td><td>合计（1+15+21）</td><td></td></tr>
        </table>
    </form>
</body>
</html>

