
@{
    ViewBag.Title = "IncomeFromOverseasTable";
}


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>境外所得纳税调整后所得明细表</title>

</head>
<body>
    <form action="/" method="post">
        <table border="1" cellspacing="0" class="title">
            <tr><td colspan="19"><center><h2>境外所得纳税调整后所得明细表</h2></center></td></tr>
            <tr><td rowspan="11">行次</td><td rowspan="7">国家（地区）</td><td rowspan="2" colspan="8">境外税后所得</td><td rowspan="2" colspan="4">境外所得可抵免的所得税额</td><td rowspan="7">境外税前所得</td><td rowspan="7">境外分支机构收入与支出纳税调整额</td><td rowspan="7">境外分支机构调整分摊扣除的有关成本费用</td><td rowspan="7">境外所得对应调整的相关成本费用支出</td><td rowspan="7">境外所得纳税调整后所得</td></tr>
            <tr></tr>
            <tr><td rowspan="5">分支机构机构营业利润所得</td><td rowspan="5">股息、红利等权益性投资所得</td><td rowspan="5">利息所得</td><td rowspan="5">租金所得</td><td rowspan="5">特许权使用费所得</td><td rowspan="5">财产转让所得</td><td rowspan="5">其他所得</td><td rowspan="5">小计</td><td rowspan="5">直接缴纳的所得税额</td><td rowspan="5">间接负担的所得税额</td><td rowspan="5">享受税收饶让抵免税额</td><td rowspan="5">小计</td></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr><td rowspan="4">1</td><td rowspan="4">2</td><td rowspan="4">3</td><td rowspan="4">4</td><td rowspan="4">5</td><td rowspan="4">6</td><td rowspan="4">7</td><td rowspan="4">8</td><td rowspan="4">9（2+3+4+5+6+7+8）</td><td rowspan="4">10</td><td rowspan="4">11</td><td rowspan="4">12</td><td rowspan="4">13（10+11+12）</td><td rowspan="4">14（9+10+11）</td><td rowspan="4">15</td><td rowspan="4">16</td><td rowspan="4">17</td><td rowspan="4">18（14+15-16-17）</td></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr><td>1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>3</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            <tr>
            <tr><td>4</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>5</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>6</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>7</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>8</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>9</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>10</td><td>合计</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        </table>
    </form>
</body>
</html>