
@{
    ViewBag.Title = "OverseasIncomeTaxCreditTable";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>境外所得税收抵免明细表</title>

</head>
<body>
    <form action="/" method="post">
        <table border="1" cellspacing="0" class="title">
            <tr><td colspan="20"><center><h2>境外所得税收抵免明细表</h2></center></td></tr>
            <tr><td rowspan="10">行次</td><td rowspan="7">国家（地区）</td><td rowspan="7">境外税前所得</td><td rowspan="7">境外所得纳税调整后所得</td><td rowspan="7">弥补境外以前年度亏损</td><td rowspan="7">境外应纳税所得额</td><td rowspan="7">抵减境内亏损</td><td rowspan="7">抵减境内亏损后的境外应纳税所得额</td><td rowspan="7">税率</td><td rowspan="7">境外所得应纳税额</td><td rowspan="7">境外所得可抵免税额</td><td rowspan="7">境外所得抵免限额</td><td rowspan="7">本年可抵免境外所得税额</td><td rowspan="7">未超过境外所得税抵免限额的余额</td><td rowspan="7">本年可抵免以前年度未抵免境外所得税额</td><td colspan="4">按简易办法计算</td><td rowspan="7">境外所得抵免所得税额合计</td></tr>
            <tr><td rowspan="6">按低于12.5%的实际税率计算的抵免额</td><td rowspan="6">按12.5%计算的抵免额</td><td rowspan="6">按25%计算的抵免额</td><td rowspan="6">小计</td></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr><td rowspan="3">1</td><td rowspan="3">2</td><td rowspan="3">3</td><td rowspan="3">4</td><td rowspan="3">5（3-4）</td><td rowspan="4">6</td><td rowspan="3">7（5-6）</td><td rowspan="3">8</td><td rowspan="3">9（7×8）</td><td rowspan="3">10</td><td rowspan="3">11</td><td rowspan="3">12</td><td rowspan="3">13（11-12）</td><td rowspan="3">14</td><td rowspan="3">15</td><td rowspan="3">16</td><td rowspan="3">17</td><td rowspan="3">18（15+16+17）</td><td rowspan="3">19（12+14+18）</td></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr><td>1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>3</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            <tr>
            <tr><td>4</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>5</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>6</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>7</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>8</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>9</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>10</td><td>合计</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        </table>
    </form>
</body>
</html>

