
@{
    ViewBag.Title = "OverseasBranchesTable";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>境外分支机构弥补亏损明细表</title>

</head>
<body>
    <form action="/" method="post">
        <table class="title">
            <tr><td colspan="20"><h2>境外分支机构弥补亏损明细表</h2></td></tr>
            <tr><td rowspan="10">行次</td><td rowspan="6">国家（地区）</td><td colspan="4">非实际亏损额的弥补</td><td colspan="14">实际亏损额的弥补</td></tr>
            <tr><td colspan="5">以前年度结转尚未弥补的非实际亏损额</td><td colspan="5">本年发生的非实际亏损额</td><td colspan="5">本年弥补的以前年度非实际亏损额</td><td colspan="5">结转以后年度弥补的非实际亏损额</td><td colspan="6" rowspan="3">以前年度结转尚未弥补的实际亏损额</td><td rowspan="5">本年发生的实际亏损额</td><td rowspan="5">本年弥补的以前年度实际亏损额</td><td colspan="6" rowspan="3">结转以后年度弥补的实际亏损额</td></tr>
            <tr><td rowspan="2">前五年</td><td rowspan="2">前四年</td><td rowspan="2">前三年</td><td rowspan="2">前二年</td><td rowspan="2">前一年</td><td rowspan="2">小计</td><td rowspan="2">前四年</td><td rowspan="2">前三年</td><td rowspan="2">前二年</td><td rowspan="2">前一年</td><td>本年</td><td rowspan="2">小计</td></tr>
            <tr><td rowspan="4">1</td><td rowspan="4">2</td><td rowspan="4">3</td><td rowspan="4">4</td><td rowspan="4">5</td><td rowspan="4">6</td><td rowspan="4">7（2+3+4+5+6）</td><td rowspan="4">8</td><td rowspan="4">9</td><td rowspan="4">10</td><td rowspan="4">11</td><td rowspan="4">12</td><td rowspan="4">13（8+9+10+11+12）</td><td rowspan="4">14</td><td rowspan="4">15</td><td rowspan="4">16</td><td rowspan="4">17</td><td rowspan="4">18</td><td rowspan="4">19（14+15+16+17+18）</td></tr>
            <tr><td>1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>3</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><tr>
            <tr><td>4</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>5</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>6</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>7</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>8</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>9</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>10</td><td>合计</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        </table>
    </form>
</body>
</html>