
@{
    ViewBag.Title = "OverseasCreditTable";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>跨年度结转抵免境外所得税明细表</title>

</head>
<body>
    <form action="/" method="post">
        <table border="1" cellspacing="0" class="title">
            <tr><td colspan="20"><h2>跨年度结转抵免境外所得税明细表</h2></td></tr>
            <tr><td rowspan="5">行次</td><td rowspan="2">国家（地区）</td><td colspan="6">前五年境外所得已缴所得税未抵免余额</td><td colspan="6">本年实际抵免以前年度未抵免的境外已缴所得税额</td><td colspan="6">结转以后年度抵免的境外所得已缴所得税额</td></tr>
            <tr><td>前五年</td><td>前四年</td><td>前三年</td><td>前二年</td><td>前一年</td><td>小计</td><td>前五年</td><td>前四年</td><td>前三年</td><td>前二年</td><td>前一年</td><td>小计</td><td>前四年</td><td>前三年</td><td>前二年</td><td>前一年</td><td>本年</td><td>小计</td></tr>
            <tr><td rowspan="3">1</td><td rowspan="3">2</td><td rowspan="3">3</td><td rowspan="3">4</td><td rowspan="3">5</td><td rowspan="3">6</td><td rowspan="3">7（2+3+4+5+6）</td><td rowspan="3">8</td><td rowspan="3">9</td><td rowspan="3">10</td><td rowspan="3">11</td><td rowspan="3">12</td><td rowspan="3">13（8+9+10+11+12）</td><td rowspan="3">14</td><td rowspan="3">15</td><td rowspan="3">16</td><td rowspan="3">17</td><td rowspan="3">18</td><td rowspan="3">19（14+15+16+17+18）</td></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr><td>1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>3</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
            <tr>
            <tr><td>4</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>5</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>6</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>7</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>8</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>9</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        </table>
    </form>
</body>
</html>


