
@{
    ViewBag.Title = "PolicyDetailTable";
}


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>政策性搬迁纳税调整明细表</title>

</head>
<body>
    <form action="/" method="post">
        <table border="1" cellspacing="0" class="title">
            <tr><td colspan="3"><center><h2>政策性搬迁纳税调整明细表</h2></center></td></tr>
            <tr><td>行次</td><td>项目</td><td>金额</td></tr>
            <tr><td>1</td><td>一、搬迁收入(2+8)</td><td></td></tr>
            <tr><td>2</td><td>   （一）搬迁补偿收入（3+4+5+6+7）</td><td></td></tr>
            <tr><td>3</td><td>       1.对被征用资产价值的补偿</td><td></td></tr>
            <tr><td>4</td><td>       2.因搬迁、安置而给予的补偿</td><td></td></tr>
            <tr><td>5</td><td>       3.对停产停业形成的损失而给予的补偿</td><td></td></tr>
            <tr><td>6</td><td>       4.资产搬迁过程中遭到毁损而取得的保险赔款</td><td></td></tr>
            <tr><td>7</td><td>       5.其他补偿收入</td><td></td></tr>
            <tr><td>8</td><td>   （二）搬迁资产处置收入</td><td></td></tr>
            <tr><td>9</td><td>二、搬迁支出(10+16)</td><td></td></tr>
            <tr><td>10</td><td>   （一）搬迁费用支出(11+12+13+14+15)</td><td></td></tr>
            <tr><td>11</td><td>       1.安置职工实际发生的费用</td><td></td></tr>
            <tr><td>12</td><td>       2.停工期间支付给职工的工资及福利费</td><td></td></tr>
            <tr><td>13</td><td>       3.临时存放搬迁资产而发生的费用</td><td></td></tr>
            <tr><td>14</td><td>       4.各类资产搬迁安装费用</td><td></td></tr>
            <tr><td>15</td><td>       5.其他与搬迁相关的费用</td><td></td></tr>
            <tr><td>16</td><td>   （二）搬迁资产处置支出</td><td></td></tr>
            <tr><td>17</td><td>三、搬迁所得或损失（1-9）</td><td></td></tr>
            <tr><td>18</td><td>四、应计入本年应纳税所得额的搬迁所得或损失（19+20+21）</td><td></td></tr>
            <tr><td>19</td><td>    其中：搬迁所得</td><td></td></tr>
            <tr><td>20</td><td>          搬迁损失一次性扣除</td><td></td></tr>
            <tr><td>21</td><td>          搬迁损失分期扣除</td><td></td></tr>
            <tr><td>22</td><td>五、计入当期损益的搬迁收益或损失</td><td></td></tr>
            <tr><td>23</td><td>六、以前年度搬迁损失当期扣除金额</td><td></td></tr>
            <tr><td>24</td><td>七、纳税调整金额（18-22-23）</td><td></td></tr>
        </table>
    </form>
</body>
</html>

