
@{
    ViewBag.Title = "ResidentEnterprisesDividendsTable";
}


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>符合条件的居民企业之间的股息、红利等权益性投资收益优惠明细表</title>

</head>
<body>
    <form action="/" method="post">
        <table border="1" cellspacing="0" class="title">
            <tr><td colspan="17"><center><h2>符合条件的居民企业之间的股息、红利等权益性投资收益优惠明细表</h2></center></td></tr>
            <tr><td rowspan="14"></td><td rowspan="11">被投资企业</td><td rowspan="11">投资性质</td><td rowspan="11">投资成本</td><td rowspan="11">投资比例</td><td rowspan="2" colspan="2">被投资企业利润分配确认金额</td><td rowspan="2" colspan="3">被投资企业清算确认金额</td><td rowspan="2" colspan="6">撤回或减少投资确认金额</td><td rowspan="11">合计</td></tr>
            <tr></tr>
            <tr><td rowspan="9">被投资企业做出利润分配或转股决定时间</td><td rowspan="9">依决定归属于本公司的股息、红利等权益性投资收益金额</td><td rowspan="9">分得的被投资企业清算剩余资产</td><td rowspan="9">被清算企业累计未分配利润和累计盈余公积应享有部分</td><td rowspan="9">应确认的股息所得</td><td rowspan="9">从被投资企业撤回或减少投资取得的资产</td><td rowspan="9">减少投资比例</td><td rowspan="9">收回初始投资成本</td><td rowspan="9">取得资产中超过收回初始投资成本部分</td><td rowspan="9">撤回或减少投资应享有被投资企业累计未分配利润和累计盈余公积</td><td rowspan="9">应确认的股息所得</td></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr><td rowspan="3">1</td><td rowspan="3">2</td><td rowspan="3">3</td><td rowspan="3">4</td><td rowspan="3">5</td><td rowspan="3">6</td><td rowspan="3">7</td><td rowspan="3">8</td><td rowspan="3">9（7与8孰小)</td><td rowspan="3">10</td><td>11</td><td rowspan="3">12（3×11）</td><td rowspan="3">13（10-12）</td><td rowspan="3">14</td><td rowspan="3">15(13与14孰小)</td><td rowspan="3">16（6+9+15）</td></tr>
            <tr></tr>
            <tr></tr>
            <tr><td>1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>3</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>4</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>5</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>6</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>7</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>8</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>9</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>10</td><td>合计</td><td><center>*</center></td><td><center>*</center></td><td><center>*</center></td><td><center>*</center></td><td></td><td><center>*</center></td><td><center>*</center></td><td></td><td><center>*</center></td><td><center>*</center></td><td><center>*</center></td><td><center>*</center></td><td><center>*</center></td><td></td><td></td></tr>
        </table>
    </form>
</body>
</html>

