
@{
    ViewBag.Title = "SoftwareTable";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>跨年度结转抵免境外所得税明细表</title>

</head>
<body>
    <form action="/" method="post">
        <table border="1" cellspacing="0" class="title">
            <tr><td colspan="6"><center><h2>软件、集成电路企业优惠情况及明细表</h2></center></td></tr>
            <tr><td>行次</td><td colspan="5"><center>项目</center></td></tr>
            <tr><td>1</td><td colspan="2">企业成立日期</td><td width="50px"></td><td>软件企业证书取得日期</td><td width="50px"></td></tr>
            <tr><td>2</td><td colspan="2">软件企业认定证书编号</td><td></td><td>软件产品登记证书编号</td><td></td></tr>
            <tr><td>3</td><td rowspan="2" colspan="2">计算机信息系统集成资质等级认<br />定证书编号</td><td rowspan="2"></td><td rowspan="2">集成电路生产企业认定<br />文号</td><td rowspan="2"></td></tr>
            <tr></tr>
            <tr><td>4</td><td colspan="2">集成电路设计企业认定证书编号</td><td colspan="3"></td></tr>
            <tr><td>5</td><td colspan="5"><center>关键指标情况（2011年1月1日以后成立企业填报）</center></td></tr>
            <tr><td>6</td><td rowspan="6">人员指标</td><td colspan="3">一、企业本年月平均职工总人数</td><td></td></tr>
            <tr><td>7</td><td colspan="3"><center>其中:签订劳动合同关系且具有大学专科以上学历的职工人数</center></td><td></td></tr>
            <tr><td>8</td><td colspan="3">二、研究开发人员人数</td><td></td></tr>
            <tr><td>9</td><td colspan="3" rowspan="2">三、签订劳动合同关系且具有大学专科以上学历的职工人数占企业当年月<br />平均职工总人数的比例（7÷6）</td><td width="30px"></td></tr>
            <tr></tr>
            <tr><td>10</td><td colspan="3">四、研究开发人员占企业本年月平均职工总数的比例（8÷6）</td><td></td></tr>
            <tr><td>11</td><td rowspan="22">收入指标</td><td colspan="3">五、企业收入总额</td><td></td></tr>
            <tr><td>12</td><td colspan="3">六、集成电路制造销售（营业）收入</td><td></td></tr>
            <tr><td>13</td><td colspan="3">七、集成电路制造销售（营业）收入占企业收入总额的比例（12÷11）</td><td></td></tr>
            <tr><td>14</td><td colspan="3">八、集成电路设计销售（营业）收入</td><td></td></tr>
            <tr><td>15</td><td colspan="3"><center>  其中：集成电路自主设计销售（营业）收入</center></td><td></td></tr>
            <tr><td>16</td><td colspan="3" rowspan="2">九、集成电路设计企业的集成电路设计销售（营业）收入占企业收入总额<br />的比例（14÷11）</td><td></td></tr>
            <tr></tr>
            <tr><td>17</td><td colspan="3" rowspan="2">十、集成电路自主设计销售（营业）收入占企业收入总额的比例<br />（15÷11）</td><td></td></tr>
            <tr></tr>
            <tr><td>18</td><td colspan="3">十一、软件产品开发销售（营业）收入</td><td></td></tr>
            <tr><td>19</td><td colspan="3"><center>  其中：嵌入式软件产品和信息系统集成产品开发销售（营业）收入</center></td><td></td></tr>
            <tr><td>20</td><td colspan="3">十二、软件产品自主开发销售（营业）收入</td><td></td></tr>
            <tr><td>21</td><td colspan="3" rowspan="2">其中：嵌入式软件产品和信息系统集成产品自主开发销售（营业）<br />收入</td><td></td></tr>
            <tr></tr>
            <tr><td>22</td><td colspan="3" rowspan="2">十三、软件企业的软件产品开发销售（营业）收入占企业收入总额的比例<br />（18÷11）</td><td></td></tr>
            <tr></tr>
            <tr><td>23</td><td colspan="3" rowspan="2">十四、嵌入式软件产品和信息系统集成产品开发销售（营业）<br />收入占企业收入总额的比例（19÷11）</td><td></td></tr>
            <tr></tr>
            <tr><td>24</td><td colspan="3" rowspan="2">十五、软件产品自主开发销售（营业）收入占企业收入总额的比例<br />（20÷11）</td><td></td></tr>
            <tr></tr>
            <tr><td>25</td><td colspan="3" rowspan="2">十六、嵌入式软件产品和信息系统集成产品自主开发销售（营业）收入占<br />企业收入总额的比例（21÷11）</td><td></td></tr>
            <tr></tr>
            <tr><td>26</td><td rowspan="5">研究开发费用指标</td><td colspan="3">十七、研究开发费用总额</td><td></td></tr>
            <tr><td>27</td><td colspan="3"><center>     其中：企业在中国境内发生的研究开发费用金额</center></td><td></td></tr>
            <tr><td>28</td><td colspan="3">十八、研究开发费用总额占企业销售（营业）收入总额的比例</td><td></td></tr>
            <tr><td>29</td><td colspan="3" rowspan="2">十九、企业在中国境内发生的研究开发费用金额占研究开发费用总额的比<br />例（27÷26）</td><td></td></tr>
            <tr></tr>
            <tr><td>30</td><td colspan="5"><center>关键指标情况（2011年1月1日以前成立企业填报）</center></td></tr>
            <tr><td>31</td><td rowspan="4">人员指标</td><td colspan="3">二十、企业职工总数</td><td></td></tr>
            <tr><td>32</td><td colspan="3">二十一、从事软件产品开发和技术服务的技术人员</td><td></td></tr>
            <tr><td>33</td><td colspan="3">二十二、从事软件产品开发和技术服务的技术人员占企业职工总数的比例<br />（32÷31）</td><td></td></tr>
            <tr></tr>
            <tr><td>34</td><td rowspan="5">收入指标</td><td colspan="3">二十三、企业年总收入</td><td></td></tr>
            <tr><td>35</td><td colspan="3">其中：企业年软件销售收入</td><td></td></tr>
            <tr><td>36</td><td colspan="3">        其中：自产软件销售收入</td><td></td></tr>
            <tr><td>37</td><td colspan="3">二十四、软件销售收入占企业年总收入比例（35÷34）</td><td></td></tr>
            <tr><td>38</td><td colspan="3">二十五、自产软件收入占软件销售收入比例（36÷35）</td><td></td></tr>
            <tr><td>39</td><td rowspan="3">研究开发经费指标</td><td colspan="3">二十六、软件技术及产品的研究开发经费</td><td></td></tr>
            <tr><td>40</td><td colspan="3" rowspan="2">二十七、软件技术及产品的研究开发经费占企业年软件收入比例<br />（39÷35）</td><td></td></tr>
            <tr></tr>
            <tr><td>41</td><td colspan="4">减免税金额</td><td></td></tr>
        </table>
    </form>
</body>
</html>

