
@{
    ViewBag.Title = "SpecialIndustryReserveTable";
}


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>特殊行业准备金纳税调整明细表</title>

</head>
<body>
    <form action="/" method="post">
        <table border="1" cellspacing="0" class="title">
            <tr><td colspan="5"><center><h2>特殊行业准备金纳税调整明细表</h2></center></td></tr>
            <tr><td rowspan="3">行次</td><td rowspan="3">项目</td><td rowspan="2">账载金额</td><td rowspan="2">税收金额</td><td rowspan="2">纳税调整金额</td></tr>
            <tr></tr>
            <tr><td>1</td><td>2</td><td>3（1-2）</td></tr>
            <tr><td>1</td><td>一、保险公司（2+3+6+7+8+9+10）</td><td></td><td></td><td></td></tr>
            <tr><td>2</td><td>   （一）未到期责任准备金<td></td><td></td><td></td></tr>
            <tr><td>3</td><td>   （二）未决赔款准备金（4+5）</td><td></td><td></td><td></td></tr>
            <tr><td>4</td><td>        其中：已发生已报案未决赔款准备金</td><td></td><td></td><td></td></tr>
            <tr><td>5</td><td>              已发生未报案未决赔款准备金</td><td></td><td></td><td></td></tr>
            <tr><td>6</td><td>   （三）巨灾风险准备金</td><td></td><td></td><td></td></tr>
            <tr><td>7</td><td>   （四）寿险责任准备金</td><td></td><td></td><td></td></tr>
            <tr><td>8</td><td>   （五）长期健康险责任准备金</td><td></td><td></td><td></td></tr>
            <tr><td>9</td><td>   （六）保险保障基金</td><td></td><td></td><td></td></tr>
            <tr><td>10</td><td>   （七）其他</td><td></td><td></td><td></td></tr>
            <tr><td>11</td><td>二、证券行业（12+13+14+15）</td><td></td><td></td><td></td></tr>
            <tr><td>12</td><td>   （一）证券交易所风险基金</td><td></td><td></td><td></td></tr>
            <tr><td>13</td><td>   （二）证券结算风险基金</td><td></td><td></td><td></td></tr>
            <tr><td>14</td><td>   （三）证券投资者保护基金</td><td></td><td></td><td></td></tr>
            <tr><td>15</td><td>   （四）其他</td><td></td><td></td><td></td></tr>
            <tr><td>16</td><td>三、期货行业（17+18+19+20）</td><td></td><td></td><td></td></tr>
            <tr><td>17</td><td>   （一）期货交易所风险准备金</td><td></td><td></td><td></td></tr>
            <tr><td>18</td><td>   （二）期货公司风险准备金</td><td></td><td></td><td></td></tr>
            <tr><td>19</td><td>   （三）期货投资者保障基金</td><td></td><td></td><td></td></tr>
            <tr><td>20</td><td>   （四）其他</td><td></td><td></td><td></td></tr>
            <tr><td>21</td><td>四、金融企业（22+23+24)</td><td></td><td></td><td></td></tr>
            <tr><td>22</td><td>   （一）涉农和中小企业贷款损失准备金</td><td></td><td></td><td></td></tr>
            <tr><td>23</td><td>   （二）贷款损失准备金</td><td></td><td></td><td></td></tr>
            <tr><td>24</td><td>   （三）其他</td><td></td><td></td><td></td></tr>
            <tr><td>25</td><td>五、中小企业信用担保机构(26+27+28)</td><td></td><td></td><td></td></tr>
            <tr><td>26</td><td>   （一）担保赔偿准备</td><td></td><td></td><td></td></tr>
            <tr><td>27</td><td>   （二）未到期责任准备</td><td></td><td></td><td></td></tr>
            <tr><td>28</td><td>   （三）其他</td><td></td><td></td><td></td></tr>
            <tr><td>29</td><td>六、其他</td><td></td><td></td><td></td></tr>
            <tr><td>30</td><td>合计(1+11+16+21+25+29)</td><td></td><td></td><td></td></tr>
        </table>
    </form>
</body>
</html>

