
@{
    ViewBag.Title = "StatementTable";
}


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>研发费用加计扣除优惠明细表</title>

</head>
<body>
    <form action="/" method="post">
        <table border="1" cellspacing="0" class="title">
            <tr><td colspan="20"><center><h2>研发费用加计扣除优惠明细表</h2></center></td></tr>
            <tr><td rowspan="12">行次</td><td rowspan="10">研发项目</td><td colspan="9">本年研发费用明细</td><td rowspan="10">本年研发费用明细</td><td rowspan="10">可加计扣除的研发费用合计</td><td colspan="2">费用化部分</td><td colspan="4">资本化部分</td><td rowspan="10">本年研发费用加计扣除额合计</td></tr>
            <tr>
                <td rowspan="9">研发活动直接消耗的材料、燃料和动力费用</td>
                <td rowspan="9">直接从事研发活动的本企业在职人员费用</td>
                <td rowspan="9">专门用于研发活动的有关无形资产摊销费</td>
                <td rowspan="9">中间试验和产品试制的有关费用，样品、样机及一般测试手段购置费</td>
                <td rowspan="9">研发成果论证、评审、验收、鉴定费用</td>
                <td rowspan="9">勘探开发技术的现场试验费，新药研制的临床试验费</td>
                <td rowspan="9">设计、制定、资料和翻译费用</td>
                <td rowspan="9">年度研发费用合计</td>
                <td rowspan="9">计入本年损益的金额</td>
                <td rowspan="9">计入本年研发费用加计扣除额</td>
                <td rowspan="9"></td>
                <td rowspan="9">本年形成无形资产的金额</td>
                <td rowspan="9">本年形成无形资产加计摊销额</td>
                <td rowspan="9">以前年度形成无形资产本年加计摊销额</td>
                <td rowspan="9">无形资产本年加计摊销额</td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr><td rowspan="4">1</td><td rowspan="4">2</td><td rowspan="4">3</td><td rowspan="4">4</td><td rowspan="4">5</td><td rowspan="4">6</td><td rowspan="4">7</td><td rowspan="4">8</td><td rowspan="4">9</td><td rowspan="4">10（2+3+4+5+6+7+8+9）</td><td rowspan="4">11</td><td rowspan="4">12（10-11）</td><td rowspan="4">13</td><td rowspan="4">14（13×50%）</td><td rowspan="4">15</td><td rowspan="4">16</td><td rowspan="4">17</td><td rowspan="4">18（16+17）</td><td rowspan="4">19（14+18）</td></tr>
            <tr></tr>
            <tr></tr>
            <tr></tr>
            <tr><td>1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>3</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>4</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>5</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>6</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>7</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>8</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>9</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>10</td><td>合计</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        </table>
    </form>
</body>
</html>