@{
    ViewBag.Title = "Home Page";
}

<div style="width:100%;height:100%;">
    <img src="~/images/1.jpg" alt="#" style="width:100%;" />
        <button id="申报"></button>
        <button id="工作辅助"></button>
        <button id="风险分析"></button>
        <button id="用户管理"></button>
</div>



